@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

$font-inriasans: 'Inria Sans', sans-serif;
$font-lalezar: 'Lalezar', sans-serif; 
