@use 'Fonts' as *;

$font-family: $font-lalezar;
$title-color: #3a2b1d;
$input-background: #f5f5f5;
$button-color: #a85b15;
$button-hover-color: #8a470f;

.forgot {
  background-image: url("../assets/icons/ForgotPassword/ForgotPassword.svg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    font-family: $font-family;

    h2 {
      font-size: 2rem;
      color: $title-color;
      font-weight: lighter;
      margin-bottom: 2.5rem;
    }

    label {
      text-align: left;
      margin-bottom: 0.5rem;
      margin-left: 3rem;
    }

    input[type="email"] {
      padding: 12px 16px;
      font-size: 1rem;
      width: 80%;
      align-self: center;
      margin-bottom: 3.5rem;
      border-radius: 8px;
      border: none;
      background-color: $input-background;
    }

    button {
      padding: 12px 24px;
      width: 60%;
      align-self: center;
      background-color: $button-color;
      color: white;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: $button-hover-color;
      }
    }
  }
}
