.sidebar {
  position: relative;
  width: 250px;
  background: #241F1F;
  color: white;
  height: 100vh;
  padding: 1.5rem;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  border-radius: 0 2rem 2rem 0;
  font-family: 'Inria Sans', sans-serif;

  &.collapsed {
    width: 50px;

    .sidebar__logo,
    .sidebar__nav,
    .sidebar__section,
    .sidebar__title,
    .sidebar__divider,
    .sidebar__link {
      display: none !important;
    }
  }

  .sidebar__logo {
    margin-bottom: 2rem;

    img {
      width: 100px;
    }
  }

  .sidebar__toggle {
    position: absolute;
    top: 10%;
    right: -15px;
    transform: translateY(-50%);
    background-color: #FCB3CB;
    border: 4px solid #241F1F;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .sidebar__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    transition: background 0.2s ease;

    &:hover {
      background: #686262;
    }

    img {
      width: 20px;
      height: 20px;
    }

    .sidebar__label {
      white-space: nowrap;
    }
  }
}
