@use 'Fonts' as *;
$text-color: #352D24;


.grid-container{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    .right-grid{
        background-color: #352D24;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;


    &-logo{
        position: relative;
        left: calc((260 / 1440) * 100vw);
        top: calc((77 / 1440) * 100vh);
        width: calc((151 / 1440) * 100vw);
        height: calc((65 / 1440) * 100vh);
    }

    &-signup-button{
        text-decoration: none;
        color: $text-color;
        font-family: $font-lalezar;
        font-size: calc((30 / 1440) * 100vw);
    }

    &-signup-button{
        text-decoration: none;
        color: $text-color;
        font-family: $font-lalezar;
        font-size: calc((30 / 1440) * 100vw);
    }
    
    &-google{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;

        text-decoration: none;
        color: $text-color;
        font-family: $font-lalezar;

        border: 2px solid #A0A0A0 ;
        border-radius: 40px;
        padding: 10px;

        margin: 5% 0;
        
    }

    &-container{
        position: relative;
        left: calc((66 / 1440) * 100vw);
        top: calc((174 / 1440) * 100vh);
        width: calc((556 / 1440) * 100vw);
        height: calc((648 / 1440) * 100vh);

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &-signup-container{
        display: flex;
        justify-content: center;
        gap: 50%; 

    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    &-or{
        color: $text-color;
        font-family: $font-lalezar;
        font-size: 30px;
    }

    &-back-button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .signup-back-button{
            display: flex;
            justify-content: center;

            width: 30%;
            text-decoration: none;
            color: $text-color;
            font-family: $font-inriasans;
            background-color: #F3EDDF;
    
            border: none;
            border-radius: 17px;
            padding: 10px;

            margin-top: 1rem;         

        }
    }

}