@use 'Fonts' as *;
@use 'Navbar';
@use 'Dropdown';
@use 'MainPage';
@use 'AccountPageInput';
@use 'Login';
@use 'Signup';
@use 'ForgotPassword';
@use 'ResetPassword';

* {
  padding: 0 0;
  box-sizing: border-box;
}

body {
  margin: 0 0;
}